# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec.bak

# Local databases & downloads
bot_temp/
downloads/
*.log
licenses.json
bot_users.json
stats.json
nexload.db
MY_LICENSE_KEY.txt

# Environment variables
.env
Cookies/
cookies.txt
NexLoad_Test_Downloads/
custom_folder.txt
